<!DOCTYPE html>
<html>
<head>
  <title>Procurement</title>
  <%= stylesheet_link_tag    "procurement/application", media: "all" %>
  <%= javascript_include_tag "procurement/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
