/*
*= require jquery-ui
*= require bootstrap
* require fontawesome
*
*= require procurement/simple-sidebar
*= require procurement/radial-progress-bar
*
*= require_self
*/

@import "font-awesome-sprockets";
@import "font-awesome";

header {
  padding-bottom: 4em;

  .navbar {
    height: 4em;

    .dropdown-menu {
      max-height: 500px;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}


//footer {
//  a {
//    color: white;
//    margin: 1em;
//  }
//}

.total_price, .big_total_price, .budget_limit {
  font-size: 0.9em;
  line-height: 2em;
}
