/*
*= require jquery-ui
*= require bootstrap
*= require jquery-tokeninput
* require fontawesome
*
*= require procurement/simple-sidebar
*= require procurement/radial-progress-bar
*= require procurement/jquery-tokeninput-facebook-theme
*
*= require_self
*/

@import "font-awesome-sprockets";
@import "font-awesome";

header {
  padding-bottom: 4em;

  .navbar {
    height: 4em;

    .dropdown-menu {
      max-height: 500px;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}


//footer {
//  a {
//    color: white;
//    margin: 1em;
//  }
//}

.total_price, .big_total_price, .budget_limit {
  font-size: 0.9em;
  line-height: 2em;
}

.ui-autocomplete {
  max-height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
}

.fa-plus-circle {
  cursor: pointer;
  color: #5cb85c;
}

form .fa-minus-circle {
  cursor: pointer;
  color: #cc0000;
}

div[data-toggle] {
  cursor: pointer;
}

#filter_panel {
  margin: 0.6em;
  ul {
    list-style-type: none;
    padding-left: 1em;
  }
}

input[required]:invalid {
  background-color: #f2dede !important;
}

.progress-radial {
  margin: 0.6em;
}