:ruby
  @get = @contracts.map do |contract|
    {
      id: contract.id,
      time_window_min: contract.time_window_min,
      time_window_max: contract.time_window_max,
      inventory_pool: {
        name: contract.inventory_pool.to_s,
        shortname: contract.inventory_pool.shortname
      },
      purpose: contract.purpose,
      status: contract.status,
      url: borrow_user_contract_path(contract.id),
      value_list_url: (contract.id)
    }
  end

- content_for :title, _("My documents")

.wrapper.margin-top-m

  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath, _("My documents")]]}

  = react('DocumentsList', {get: @get})
